<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Thanks <%= name %> for your enquiry!!!</h1> 
    <p>We will be back to you soon.</p>

    <br>
    <p>If you need further assistance, please contact our Help team.</p>
    <p>Thanks,</p>
    <p>MERN Blog Site</p>
  </body>
</html>
